.todo-item-list, .inputtask, #row-1, .listdisplay {
  border-style: solid;
  border-color: grey;
}

h4 {
  margin-left: 25px;
}

.wholedoc {
  float: center;
}

#button, #addtype {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  float: center;
}

#closeitem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: center;
}

.taskitem {
  margin-left: 15px;
  color: blue;
  text-decoration: underline;
}

.taskitem:hover {
  color: #FF00FF;
}

span.itemlabel {
  color: brown;
  font-size: 15px;
  text-decoration: bold;
}

#selectlist {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

/*#todo-details-item, #task-item-line {
  border-style: solid;
  border-color: grey;
}*/
